<%- include('../partials/header') %>


<form id="newFlowerForm" action="/flowers"  method="POST">
   <h2>Create Your Bouquet</h2>
   <label>Name of Client:</label><input type="text" name="name">
   <label>Date of Wedding:</label><input type="date" name="dateOfWedding">
   <label>Flower #1 Name:</label><input type="text" name="flowerOneName">
   <label>Flower #1 Amount:</label><input type="number" name="flowerOneAmount">
   <label>Greenery #1 Name:</label><input type="text" name="greensOneName">
   <label>Greenery #1 Amount:</label><input type="number" name="greensOneAmount">
   <button type="submit" id="newBtn">Submit Order</button>
</form>

<%- include('../partials/footer') %>