<%- include('../partials/header') %>



<form id="newFlowerForm" action="/flowers"  method="POST">
   <h2>Create Your Bouquet</h2>
   <label>Name of Client:</label><input type="text" name="name">
   <label>Date of Wedding:</label><input type="date" name="dateOfWedding">
   <!-- <label>Number of Unique Flowers:</label><input type="number" name="unique" id="unique"> -->


   
   <% let x = 1; %>
   <% let y = 2 %>
   <script>
   if(!y) {
      y = 2; 
   } 
   </script>

   <% while(x < 5) {  %>
      <div class="flex">
         <label>Flower #<%= x %> Name:</label>
         <select name="flowerName">
              <option value=""></option>
              <option value="Rose">Rose</option>
              <option value="Hydrangea">Hydrangea</option>
              <option value="Mum">Mum</option>
              <option value="Dahlia">Dahlia</option>
         </select>
         <label>Flower #<%= x %> Amount:</label><input type="number" name="flowerAmount">
         </div>
<% x++ %>
<% } %>
   <div id="btnDiv">
   <button id="btnAdd">Add More</button>
   <button id="btnRemove">Remove</button>
   </div>

   <script>
      let btn = document.getElementById('btnAdd')
      let x = 4;
      const clicked = function(e){
         // let val = document.getElementById('unique').value
         e.preventDefault()
         // y = val;
         console.log(x)
         x++
         let html = `
         <div class="flex" id="${x}">
            <label>Flower #${x} Name:</label>
               <select name="flowerName">
                  <option value=""></option>
                  <option value="Rose">Rose</option>
                  <option value="Hydrangea">Hydrangea</option>
                  <option value="Mum">Mum</option>
                  <option value="Dahlia">Dahlia</option>
               </select>
            <label>Flower #${x} Amount:</label><input type="number" name="flowerAmount">
         </div>
      <% x++ %>
   `
         btn.insertAdjacentHTML("beforebegin", html)
      }


      btn.addEventListener('click', clicked )
      
   /// Remove Btn

   let btnRemove = document.getElementById('btnRemove')
   const clickedRemove = function(e){
      e.preventDefault()
      document.getElementById(`${x}`).remove()
      x--
   }
   btnRemove.addEventListener('click', clickedRemove )
   </script>


 

   <div class="flex">
      <label>Greenery #1 Name:</label>
      <select name="green">
           <option value="Ivy">Ivy</option>
           <option value="Dusty Miller">Dusty Miller</option>   
      </select>
      <label>Greenery #1 Amount:</label><input type="number" name="greenAmount">
   </div>

 
   
   <button type="submit" id="newBtn">Submit Order</button>
</form>

<%- include('../partials/footer') %>