<div id="navDiv">
<nav id="navOne">
    <a href="/">Home</a>
    <a href="/flowers/new">New Event</a>
    <a href="/flowers">Orders</a>
</nav>

<nav id="navTwo">
    <a href="/prices">Plant Database</a>
</nav>
</div>