<%- include('./partials/header') %>

<div id="homePageDiv">
    <img width="100vmin" src="">
    <h4 id="homePageGrab">Spend More Time On Flowers</h4>
    <h4 id="homePageMessage">Florist Flow Manages Event Information & Calculates Costs</h4>
</div>


<%- include('./partials/footer') %>
