<%- include('./partials/header') %>

<div id="homePageDiv">
    <img class="homepageImgOne" src="/images/vecteezy_wildflower-watercolor-beautiful-flower-watercolor-element_10313315_846.png" > 
    <div id="middle">
    <p id="homePageGrab">Spend More Time On The Flowers</p>
    <p id="homePageMessage">Florist Flow Manages Event Information & Calculates Costs</p>
    </div>
    <img class="homepageImg" src="/images/vecteezy_wildflower-watercolor-beautiful-flower-watercolor-element_10313315_846.png" > 
</div>

<a id="footerImg" href="https://www.vecteezy.com/free-png/flower">Flower PNGs by Vecteezy</a>
<%- include('./partials/footer') %>
