:root {
  /* --lightGreen: rgb(141, 196, 141);
  --mediumGreen: rgb(118, 164, 118);
  --darkGreen: rgb(84, 117, 84); */
  --blue: #6C8EAD;
  --darkBlue: #114B5F;
  --red: #BB4430;
  --darkRed: #a73d2b;
  --olive: #83781B;
  --darkOlive: #6b6315;
  --lightGreen: #95B46A;
  --mediumGreen: #709255;
  --darkGreen: #3E5622;
  --darkestGreen: #172815;
  --black: #3d4448;
  --white: #f2f2f2;
  /* --white: white; */
  --darkWhite: #eeecec;
}



#editBtn {
  color: var(--blue);
  display: flex;
  align-items: center;
  gap: 1vmin;
  text-decoration: none;
}

#editBtn:hover {
  color: var(--darkBlue);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--black);
  background-color: var(--white);
  /* background-color: white; */
}

label {
  font-size: 2vmin;
}

#errorMsg {
  color: red;

}

.centerText {
  text-align: center;
}

table > * {
  font-size: 2.2vmin;
}

.deleteBtn {
  background-color: var(--olive);
  border-radius: 5px;
  border: none;
  padding: .5vmin 1vmin;
  color: white;
  font-weight: bolder
}

.deleteBtn:hover {
  cursor: pointer;
  background-color: var(--darkOlive);
}

a {
  color: #00B7FF;
}

h1 {
  color: var(--mediumGreen);
  text-align: center;
  font-size: 3.5vmin;
}

@media only screen and (max-width: 500px){
  h1 {
    font-size: 4.5vmin;
  }
}

h4 {
  text-align: center;
}

/* NAV */

.anchors {
  display: flex;
  align-items: center;
  gap: .5vmin;
}

#homePageTitle {
  font-size: 4.2vmin;
}

#navDiv {
  display: flex;
  justify-content: space-between;
}

#navOne {
  display: flex;
  align-items: center;
  margin-top: -5vmin;
  margin-left: -5vmin;
  gap: 7vmin;
}



#navTwo {
  display: flex;
  gap: 6vmin;
  margin-top: -5vmin;
  margin-left: 5vmin;
  align-items: center;
  justify-self: end;
}

@media only screen and (max-width: 600px) {
  #navOne {
    margin-top: -10vmin;
    margin-left: -10vmin;
    gap: 6.5vmin;
  }

  #navImg {
    width: 15vmin;
    margin-left: -1vmin;
  }

  #navTwo {
    margin-top: -10vmin;
    margin-left: 6.5vmin;
  }
}

nav > a {
  text-decoration: none;
  color: gray;
  font-size: 3vmin;
}

nav > a:hover {
  cursor: pointer;
  color: var(--darkGreen)
}

/* NAV */




/* flowers/Index.ejs */


#noOrders {
  text-align: center;
}


.viewEvent {
 text-decoration: none;
}

/* .viewEvent > * {
  text-decoration: none;
 } */

#viewEvent:hover {
  text-align: center;
  justify-self: center;
  background-color: var(--darkBlue);
}

#indexHeader {
  text-align: center;
}

span {
  color: var(--black);
}

@media only screen and (max-width: 600px){
  .indexAllLabel {
font-size: 4vmin;
  }
}


.indexAllLabel {
  color:var(--mediumGreen);
  text-align: left;
}


#containerIndexAll {
  border: 3px solid gray;
  width: 60vmin;
  padding: 1vmin 2vmin;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 2vmin;
  margin-bottom: 1vmin;
  text-align: right;
}

#containerIndexAll:hover {
  background-color: var(--darkWhite)
}

#insideContainerIndex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}


/* flowers/Index.ejs */


/* show */

.align {
  margin-left: 108vmin;
}

#showDiv {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80vmin;
  margin: 0 auto;
}

#showDiv > label {
  font-weight: bold;
  font-size: 2.5vmin;
  margin-bottom: .5vmin;
}

.showTitles {
  font-size: 2.5vmin;
  font-weight: bold;
  color: var(--mediumGreen);
}

#priceDiv {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 120vmin;
  margin: 0 auto;
}

#priceDiv > label {
  font-weight: bold;
  font-size: 1.8vmin;
  margin-bottom: .5vmin;
}

#priceBreakdownTable {
  border: 3px solid var(--black);
  padding: 1vmin;
}




@media only screen and (max-width: 2000px){

  /* Edit button on show is align */
  .align {
    margin-left: 105vmin;
    font-size: 3vmin;
  }
  
  #showDiv {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80vmin;
    margin: 0 auto;
    /* margin-left: 2vmin; */
  }
  
  #showDiv > label {
    font-weight: bold;
    font-size: 3.5vmin;
    margin-bottom: .5vmin;
  }

  .showTitles {
    font-size: 3.5vmin;
  }

  #priceDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vmin;
    margin: 0 auto;
    /* margin-left: 2vmin; */
  }
  
  #priceDiv > label {
    font-weight: bold;
    font-size: 3vmin;
    margin-bottom: 5vmin;
  }
  
  #priceBreakdownTable {
    border: 3px solid var(--black);
    padding: 1vmin;
  }

  #priceTitle {
    font-size: 3vmin;

  }
}

@media only screen and (max-width: 1215px){

  /* Edit button on show is align */
  .align {
    margin-left: 55vmin;
    font-size: 3vmin;
  }
  
  #showDiv {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80vmin;
    margin: 0 auto;
    margin-left: 2vmin;
  }
  
  #showDiv > label {
    font-weight: bold;
    font-size: 4.5vmin;
    margin-bottom: .5vmin;
  }

  .showTitles {
    font-size: 4.5vmin;
  }

  #priceDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80vmin;
    margin: 0 auto;
    margin-left: 2vmin;
  }
  
  #priceDiv > label {
    font-weight: bold;
    font-size: 3vmin;
    margin-bottom: 5vmin;
  }
  
  #priceBreakdownTable {
    border: 3px solid var(--black);
    padding: 1vmin;
  }

  #priceTitle {
    font-size: 3vmin;

  }
}

@media only screen and (max-width: 500px){

  /* Edit button on show is align */
  .align {
    margin-left: 40vmin;
    font-size: 3vmin;
  }
  
  #showDiv {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80vmin;
    margin: 0 auto;
    margin-left: -5vmin;
  }
  
  #showDiv > label {
    font-weight: bold;
    font-size: 4.5vmin;
    margin-bottom: .5vmin;
  }

  .showTitles {
    font-size: 4.5vmin;
  }

  #priceDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80vmin;
    margin: 0 auto;
    margin-left: -5vmin;
  }
  
  #priceDiv > label {
    font-weight: bold;
    font-size: 3vmin;
    margin-bottom: 5vmin;
  }
  
  #priceBreakdownTable {
    border: 3px solid var(--black);
    padding: 1vmin;
  }

}

/* show */


/* new */


#btnDiv > label {
  text-align: left;
}

#btnDiv > button {
  text-align: center;
}

.btnAdd {
background-color: var(--blue);
border-radius: 5px;
border: none;
padding: .5vmin 1vmin;
font-weight: bolder;
color: white;
text-transform: capitalize;
}

.btnAdd:hover {
  cursor: pointer;
  background-color: var(--darkBlue);
}

.btnRemove {
  background-color: var(--olive);
  border-radius: 5px;
  border: none;
  padding: .5vmin 1vmin;
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
}

.btnRemove:hover {
  cursor: pointer;
  background-color: var(--darkOlive);
}


#newFlowerForm {
  display: flex;
  flex-direction: column;
  width: 50vmin;
  margin: 0 auto;
  border: 3px solid gray;
  padding: 1vmin 2vmin;
  border-radius: 5px;
}



#newFlowerForm > h1 {
  text-align: left;
}

#newFlowerForm > label {
  margin: 1vmin 0 0vmin 0;
  width: 100%;
  font-size: 2vmin;
  font-weight: 650;
}

#newFlowerForm  > input {
  width: 20vmin;
  font-size: 2vmin;
}

#newFlowerForm  > select {
  width: 20vmin;
  font-size: 2vmin;
}

@media only screen and (max-width: 500px){
  #newFlowerForm {
    display: flex;
    flex-direction: column;
    width: 65vmin;
    margin: 0 auto;
    border: 3px solid gray;
    padding: 1vmin 2vmin;
    border-radius: 5px;
  }

  #newFlowerForm > label {
    margin: 1vmin 0 0vmin 0;
    width: 100%;
    font-size: 3vmin;
    font-weight: 650;
  }

  #newFlowerForm  > input {
    width: 35vmin;
    font-size: 3vmin;
  }

  #newFlowerForm  > select{
    width: 35vmin;
    font-size: 3vmin;
  }

}




.flex {
  gap: 4vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  justify-content: center;
}

.flex > label {
  font-weight: 650;
}

.flowerName {
  margin-right: 2vmin;
}

.flex > input {
  width: 20vmin;
  font-size: 2vmin;
}

#space {
  margin-right: 16.5vmin;
}

.flex > select {
  width: 20vmin;
  font-size: 2vmin;
}

#numberInput {
  width: 7vmin;
}

@media only screen and (max-width: 500px){
  .flex {
    gap: 4vmin;
    justify-content: center;
    font-size: 3vmin;
  }
  
  .flex > label {
    font-weight: 650;
    font-size: 3vmin;
  }
  
  .flowerName {
    margin-right: 2vmin;
  }
  
  .flex > input {
    width: 35vmin;
    font-size: 3vmin;
  }

  #space {
    margin-right: 32vmin;
  }
  
  .flex > select {
    width: 35vmin;
    font-size: 3vmin;
  }
  
  #numberInput {
    width: 15vmin;
  }

}

#newBtn {
  background-color: var(--mediumGreen);
  color: white;
  height: 4vmin;
  border-radius: 3px;
  margin-top: 1vmin;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vmin;
  border: none;
}

#newBtn:hover {
  background-color: var(--darkGreen);
  color: white;
  height: 4vmin;
  border-radius: 3px;
  margin-top: 1vmin;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vmin;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 500px){
  #newBtn {
    background-color: var(--mediumGreen);
    color: white;
    height: 6vmin;
    border-radius: 3px;
    margin-top: 1vmin;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vmin;
    border: none;
  }
  
  #newBtn:hover {
    background-color: var(--darkGreen);
    color: white;
    height: 6vmin;
    border-radius: 3px;
    margin-top: 1vmin;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vmin;
    border: none;
    cursor: pointer;
  }

}
/* new */


/* Prices Index */

#addPlant {
  margin-left: 28vmin;
}

#plantDiv {
  margin-left: 52vmin;
  margin-bottom: 2vmin;
  text-align: center;
}

#plantDiv > a {
  text-decoration: none;
  color: white;
  padding: 1vmin;
  border-radius: 200px;
  background-color: var(--blue)
}

#plantDiv > a:hover {
  text-decoration: none;
  color: white;
  padding: 1vmin;
  border-radius: 200px;
  background-color: var(--darkBlue)
}

#containerDatabase {
  border: 3px solid gray;
  width: 90vmin;
  padding: 1vmin 2vmin;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 2vmin;
  margin-bottom: 1vmin;
  text-align: right;
}

#containerDatabase:hover {
  background-color: var(--darkWhite)
}

#itemsDatabase {
  display: flex;
  gap: 2.5vmin;
  align-items: center;
}

#special {
  font-size: 3.5vmin;
  text-decoration: underline;
}

@media only screen and (max-width: 1200px){

  #plantDiv {
    margin-left: 20vmin;
    margin-bottom: 2vmin;
    text-align: center;
  }
  
  #containerDatabase {
    border: 3px solid gray;
    width: 85vmin;
    padding: 1vmin 2vmin;
    border-radius: 5px;
    margin: 0 auto;
    padding-bottom: 2vmin;
    margin-bottom: 1vmin;
    text-align: right;
  }


}

@media only screen and (max-width: 500px){

  #plantDiv {
    margin-left: -70vmin;
    margin-bottom: 2vmin;
    text-align: center;
  }
  
  #containerDatabase {
    border: 3px solid gray;
    width: 85vmin;
    padding: 1vmin 2vmin;
    border-radius: 5px;

    /* margin: 0 auto; */
    margin-left: -10vmin;
    padding-bottom: 2vmin;
    margin-bottom: 1vmin;
    text-align: right;
  }


}



/* Prices */

/* Index Homepage */
#homePageDiv {
  margin: 0 auto;
  /* background-color: blue; */
  margin-top: 7%; 
  display: flex;
  gap: -25vmin;
  height: 90vmin; 
}

.homepageImg {
  width: 30%;
  height: 70%;
  transform: rotate(35deg);
}

.homepageImgOne {
  width: 30%;
  height: 70%;
  transform: scaleX(-1) rotate(35deg);
}

@media only screen and (max-width: 600px) {
  .homepageImg {
    width: 30%;
    height: 40%;
    transform: rotate(35deg);
    margin-right: -5vmin;
  }

  .homepageImgOne {
    width: 30%;
    height: 40%;
    transform: scaleX(-1) rotate(35deg);
    /* margin-left: -5vmin; */
  }
}

@media only screen and (max-width: 1175px) {
  .homepageImg {
    width: 30%;
    height: 40%;
    transform: rotate(35deg);
    margin-right: -5vmin;
  }

  .homepageImgOne {
    width: 30%;
    height: 40%;
    transform: scaleX(-1) rotate(35deg);
    /* margin-left: -5vmin; */
  }
}



#middle {
  width: 40%;
  text-align: center;
}

#homePageGrab {
  font-size: 5vmin;
  color: var(--darkBlue);
  margin-bottom: 0;

}

#homePageMessage {
  font-size: 3.5vmin;
  color: var(--blue);

}

#footerImg {
  font-size: 1.1vmin;
  color: gray;
  text-align: center;
}

@media only screen and (max-width: 480px){
  #footerImg {
    padding-top: 90vmin;
    font-size: 2vmin;
    position: absolute;
  }


}