:root {
  /* --lightGreen: rgb(141, 196, 141);
  --mediumGreen: rgb(118, 164, 118);
  --darkGreen: rgb(84, 117, 84); */
  --blue: #6C8EAD;
  --darkBlue: #114B5F;
  --red: #BB4430;
  --darkRed: #a73d2b;
  --olive: #83781B;
  --darkOlive: #6b6315;
  --lightGreen: #95B46A;
  --mediumGreen: #709255;
  --darkGreen: #3E5622;
  --darkestGreen: #172815;
  --black: #3d4448;
  --white: #f2f2f2;
  /* --white: white; */
  --darkWhite: #eeecec;
}



#editBtn {
  color: var(--blue);
  display: flex;
  align-items: center;
  gap: 1vmin;
  text-decoration: none;
}

#editBtn:hover {
  color: var(--darkBlue);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--black);
  background-color: var(--white);
  /* background-color: white; */
}

label {
  font-size: 2vmin;
}

#errorMsg {
  color: red;

}

.centerText {
  text-align: center;
}

.deleteBtn {
  background-color: var(--olive);
  border-radius: 5px;
  border: none;
  padding: .5vmin 1vmin;
  color: white;
  font-weight: bolder
}

.deleteBtn:hover {
  cursor: pointer;
  background-color: var(--darkOlive);
}

a {
  color: #00B7FF;
}

h1 {
  color: var(--mediumGreen);
  text-align: center;
  font-size: 3.5vmin;
}

h4 {
  text-align: center;
}

/* NAV */

.anchors {
  display: flex;
  align-items: center;
  gap: .5vmin;
}

#homePageTitle {
  font-size: 4.2vmin;
}

#navDiv {
  display: flex;
  justify-content: space-between;
}

#navOne {
  display: flex;
  align-items: center;
  margin-top: -5vmin;
  gap: 7vmin;
}


#navTwo {
  display: flex;
  gap: 6vmin;
  margin-top: -5vmin;
  align-items: center;
  justify-self: end;
}

nav > a {
  text-decoration: none;
  color: gray;
  font-size: 3vmin;
}

nav > a:hover {
  cursor: pointer;
  color: var(--darkGreen)
}

/* NAV */

#newFlowerForm {
  display: flex;
  flex-direction: column;
  width: 50vmin;
  margin: 0 auto;
  border: 3px solid gray;
  padding: 1vmin;
  border-radius: 5px;
}

#newFlowerForm > h1 {
  text-align: left;
}

#newFlowerForm > label {
  margin: 1vmin 0 0vmin 0;
  width: 100%;
  font-size: 1.5vmin;
}

#newFlowerForm  > input {
  width: 20vmin;
  font-size: 2vmin;
}


/* flowers/Index.ejs */





.viewEvent {
 text-decoration: none;
}

/* .viewEvent > * {
  text-decoration: none;
 } */

#viewEvent:hover {
  text-align: center;
  justify-self: center;
  background-color: var(--darkBlue);
}

#indexHeader {
  text-align: center;
}

span {
  color: var(--black);
}


.indexAllLabel {
  color:var(--mediumGreen);
  text-align: left;
}

#containerIndexAll {
  border: 3px solid gray;
  width: 60vmin;
  padding: 1vmin 2vmin;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 2vmin;
  margin-bottom: 1vmin;
  text-align: right;
}

#containerIndexAll:hover {
  background-color: var(--darkWhite)
}

#insideContainerIndex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}


/* flowers/Index.ejs */


/* show */
#showDiv {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80vmin;
  margin: 0 auto;
}

#showDiv > label {
  font-weight: bold;
  font-size: 1.8vmin;
  margin-bottom: .5vmin;
}

.showTitles {
  font-size: 2vmin;
  font-weight: bold;
  color: var(--mediumGreen);
}

#priceDiv {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 120vmin;
  margin: 0 auto;
}

#priceDiv > label {
  font-weight: bold;
  font-size: 1.8vmin;
  margin-bottom: .5vmin;
}

#priceBreakdownTable {
  border: 3px solid var(--black);
  padding: 1vmin;
}





/* show */


/* new */
#btnDiv {
  width: 100%;
  margin: 0 auto;
}

#btnDiv > label {
  text-align: none;
}

#btnDiv > button {
  text-align: center;
  margin-left: 10vmin;
}

.btnAdd {
background-color: var(--blue);
border-radius: 5px;
border: none;
padding: .5vmin 1vmin;
font-weight: bolder;
color: white;
text-transform: capitalize;
}

.btnAdd:hover {
  cursor: pointer;
  background-color: var(--darkBlue);
}

.btnRemove {
  background-color: var(--olive);
  border-radius: 5px;
  border: none;
  padding: .5vmin 1vmin;
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
}

.btnRemove:hover {
  cursor: pointer;
  background-color: var(--darkOlive);
}


.flex {
  display: flex;
  width: 100%;
  gap: 4vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  justify-content: center;
}

#numberInput {
  width: 9vmin;
}

#newBtn {
  background-color: var(--mediumGreen);
  color: white;
  height: 4vmin;
  border-radius: 3px;
  margin-top: 1vmin;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vmin;
  border: none;
}

#newBtn:hover {
  background-color: var(--darkGreen);
  color: white;
  height: 4vmin;
  border-radius: 3px;
  margin-top: 1vmin;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vmin;
  border: none;
  cursor: pointer;
}
/* new */


/* Prices */

#addPlant {
  margin-left: -2vmin;
}
#plantDiv {
  margin-left: 52vmin;
  margin-bottom: 2vmin;
  text-align: center;
}

#plantDiv > a {
  text-decoration: none;
  color: white;
  padding: 1vmin;
  border-radius: 200px;
  background-color: var(--blue)
}

#plantDiv > a:hover {
  text-decoration: none;
  color: white;
  padding: 1vmin;
  border-radius: 200px;
  background-color: var(--darkBlue)
}

#containerDatabase {
  border: 3px solid gray;
  width: 90vmin;
  padding: 1vmin 2vmin;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 2vmin;
  margin-bottom: 1vmin;
  text-align: right;
}

#containerDatabase:hover {
  background-color: var(--darkWhite)
}

#itemsDatabase {
  display: flex;
  gap: 2.5vmin;
  align-items: center;
}

#special {
  font-size: 3.5vmin;
  text-decoration: underline;
}
/* Prices */

/* Index Homepage */
#homePageDiv {
  width: 100vmin;
  margin-left: 5%;
  margin-top: 7%;
  display: flex;
  gap: 15vmin;
}

.homepageImg {
  width: 40vmin;
  transform: rotate(35deg);
}

.homepageImgOne {
  width: 40vmin;
  transform: scaleX(-1) rotate(35deg);
}

#middle {
  width: 50vmin;
  text-align: center;
}

#homePageGrab {
  font-size: 5vmin;
  color: var(--darkBlue);
  margin-bottom: 0;
  width: 50vmin;
}

#homePageMessage {
  font-size: 3.5vmin;
  color: var(--blue);
}


