



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

.deleteBtn {
  background-color: rgb(241, 46, 46);
  border-radius: 5px;
  border: none;
  padding: .5vmin 1vmin;
  color: white;
  font-weight: bolder
}

.deleteBtn:hover {
  cursor: pointer;
  background-color: rgb(203, 39, 39);
}

a {
  color: #00B7FF;
}

h2 {
  color: rgb(141, 196, 141);
  text-align: center;
}

h4 {
  text-align: center;
}


nav {
  display: flex;
  gap: 3vmin;
}

nav > a {
  text-decoration: none;
  color: gray;
  font-size: 3vmin;
}

nav > a:hover {
  cursor: pointer;
}

#newFlowerForm {
  display: flex;
  flex-direction: column;
  width: 60vmin;
  margin: 0 auto;
}

#newFlowerForm > label {
  margin: 1vmin 0 0vmin 0;
}


/* flowers/Index.ejs */

#viewWedding {
  color: white;
  padding: .7vmin;
  border-radius: 300px;
  text-decoration: none;
  background-color: rgb(141, 196, 141);
}

#viewWedding:hover {
  text-align: center;
  justify-self: center;
  background-color: rgb(118, 164, 118);
}

#indexHeader {
  text-align: center;
}

span {
  color: black;
}


.indexAllLabel {
  color:rgb(141, 196, 141);
  text-align: left;
}

#containerIndexAll {
  border: 1px solid gray;
  width: 60vmin;
  padding: 1vmin 2vmin;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 2vmin;
  margin-bottom: 1vmin;
  text-align: right;
}

#containerIndexAll:hover {
  background-color: rgb(245, 244, 244);
}

#insideContainerIndex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}


/* flowers/Index.ejs */


/* show */
#showDiv {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  text-align: left;
  /* align-items: center; */

}

/* show */


/* new */
#newBtn {
  background-color: rgb(121, 171, 121);
  color: white;
  height: 4vmin;
  border-radius: 3px;
  margin-top: 1vmin;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vmin;
  border: none;
}

#newBtn:hover {
  background-color: rgb(108, 155, 108);
  color: white;
  height: 4vmin;
  border-radius: 3px;
  margin-top: 1vmin;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vmin;
  border: none;
}
/* new */