<%- include('../partials/header') %>


<form id="newFlowerForm" action="/prices"  method="POST">
   <h1>Add A Plant To The Database</h1>
   <label>Plant Name:</label><input type="text" name="plantName" required>
   <label>Price Per Bundle:</label><input type="number" name="price" step="0.01" pattern="^\d*(\.\d{1,2})?$" required>
   <label>Bundle:</label><input type="number" name="bundle" required>
   <label>Type:</label>
   <select type="text" name="isFlower" required>
      <option value="Green">Green</option>
      <option value="Flower">Flower</option>
   </select>
   <label>Supplier:</label><input type="text" name="supplier">
   <label>Supplier Email:</label><input type="text" name="supplierEmail">
   <label>Notes:</label>
   <textarea name="notes" cols="50" rows="10"></textarea>

   <button type="submit" id="newBtn">Submit Order</button>
</form>

<%- include('../partials/footer') %>