<%- include('../partials/header') %>


<form id="newFlowerForm" action="/prices"  method="POST">
   <h2>Add A Plant To The Database</h2>
   <label>Plant Name:</label><input type="text" name="plantName">
   <label>Price Per Bundle:</label><input type="number" name="price">
   <label>Bundle:</label><input type="number" name="bundle">

   <button type="submit" id="newBtn">Submit Order</button>
</form>

<%- include('../partials/footer') %>